.container-myTabungan{
	padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
}

.container-title{
    width: 100%;
    padding: 75px 30px 30px 30px;
}

.font-title{
	font-family: "Fantasy";
    font-size: 45px;
    color: #00729c;
    font-weight: 400;	
}

.container-tatacara{
	height: 310px;
    width: 100%;

}

.container-imgtatacara{
	height: 310px;
	width: 540px;
	margin-left: 105px;

}

.container-desc{
	height: 310px;
	width: 540px;
	margin-left: 105px;

}

.inline-block {
    display: inline-block;
    float: left;
}

.box-body{
  width: 100%;
  padding: 50px;
}

@media print{
    .btn-mod {display: none;}
    .btn-print {display: none;}
    #carouselExampleIndicators {display: none;}
    .navbar {display: none;}
}

.container-about{
    width: 227px;
    height: 320px;
    background-position: center;
    background-size: cover;
    margin-left: 56px;
}